---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="Sobre mi"
	description=""
	pubDate={new Date("March 12 2024")}
	heroImage="/me.jpg"
>
	<p>
		¡Bienvenidos a mi espacio personal! Soy Felix Sanchez, un entusiasta del
		baloncesto y la estrategia detrás de cada jugada. Vivo y respiro NBA, un
		ferviente seguidor de los Minnesota Timberwolves. Mi pasión por el
		deporte va más allá de ser un espectador; es una metáfora de la vida,
		donde la estrategia, el trabajo en equipo y la perseverancia juegan un
		papel crucial.
	</p>

	<p>
		Como profesional de la tecnología, me dedico al mundo de la
		programación. Encuentro en el código una forma de arte, una expresión de
		lógica pura que se transforma en soluciones innovadoras. La tecnología
		es mi campo de juego, donde cada día es una oportunidad para aprender
		algo nuevo y resolver los rompecabezas más complejos.
	</p>

	<p>
		La filosofía es otro de mis intereses. Me sumerjo en sus profundidades
		para explorar las grandes preguntas de la existencia. A través de la
		filosofía, busco entender mejor el mundo y mi lugar en él. La filosofía
		es mi refugio, un lugar donde puedo cuestionar, reflexionar y crecer. Es
		un diálogo constante con los grandes pensadores del pasado y una
		búsqueda incesante de la verdad en nuestro mundo moderno. Me encanta
		leer y mi género literario favorito es la poesía, donde encuentro
		belleza en la concisión y la emoción en cada verso. Sin embargo, mi amor
		por la historia no se queda atrás; me fascina descubrir cómo los eventos
		del pasado han moldeado nuestro presente.
	</p>

	<p>
		Pero cuando la noche cae y los códigos y teorías se desvanecen, es el
		rap el que llena el silencio. Me identifico con las canciones románticas
		de Al2, que narran historias de amor con las que resueno. Me sumerjo en
		el rap crudo y real de Canserbero, que no teme mostrar la crudeza de la
		vida. Admiro la madurez y la poesía hecha rap de Nach, y celebro la
		autenticidad de TYS, un artista dominicano que habla mi idioma y
		entiende mi cultura.
	</p>
	<p>
		En resumen, soy un amante de la vida, un explorador de ideas y un
		soñador que encuentra belleza en las palabras, los sonidos y las
		emociones. ¡Bienvenidos a mi mundo! 🌟📚🎤
	</p>
</Layout>
