---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

//const { heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main class="align-content: bg-center">
			<h1>&emsp; &emsp;Bienvenidos!</h1>

			<div class="hero-image">
				&emsp; &emsp; &emsp; &emsp; &emsp; &emsp;{
					(
						<img
							width={320}
							height={240}
							src="/Fsanchez.png"
							alt="FsX image"
						/>
					)
				}
			</div>
			<p>
				Este blog es un reflejo de mis pasiones y pensamientos. Aquí
				compartiré mis experiencias, ideas y creaciones con la esperanza
				de conectar con otros que comparten mis intereses y
				curiosidades. Este blog es un pedazo de mi mundo. ¡Gracias por
				visitar y ser parte de mi viaje!
			</p>
		</main>
		<Footer />
	</body>
</html>
